{% extends 'oob/navbars.html' %}

{% block content %}
<h1 class="text-center py-4">Project List</h1>
<ul class="list-group px-3">
  {% for project in projects %}
    <li class="list-group-item d-inline-flex align-items-center justify-content-between">
        <div class="d-flex d-inline-flex align-items-center">
          <a class="text-decoration-none mx-2" href="{% url 'project-detail' project.pk %}">{{ project.title }}</a>
        </div>
        <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-fw fa-tasks text-light"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'project-update' project.pk %}">Edit</a></li>
            <li><a class="dropdown-item" href="{% url 'project-delete' project.pk %}">Delete</a></li>
        </ul>
        </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}