{% extends 'oob/navbars.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card project-card">
    <h1 class="text-light text-center my-3">Create New Project</h1>
    <form class=""method="POST" action="">
      {% csrf_token %}
      <div class="form-floating mb-3 mx-3">
        {{ form.title }}
        <label for="projectTitle">Project Name</label>
      </div>
      <div class="form-floating mb-3 mx-3">
        {{ form.body }}
        <label for="projectBody">Description</label>
      </div>
      <div class="form-floating mb-3 mx-3">
        {{ form.parent }}
        <label for="projectParent">Parent Project (if this is a Sub-Project)</label>
      </div>
      <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-lg btn-primary" type="submit">Create</button>
        <a class="btn btn-lg btn-danger"href="{% url 'project-index' %}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}