{% extends 'oob/navbars.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card project-card px-5" style="height: 14rem;">
    <h1 class="text-light pt-3">{{task.title}}</h2>
    <h5 class="text-light">{{task.body}}</h5>
    <h5 class="text-light">Project: {{task.project}}</h5>
    <h5 class="text-light">Created On: {{task.created_on}}</h5>
    <h5 class="text-light">Completed?
      {% if task.is_complete %}
        <i class="fas fa-check text-success"></i>
      {% else %}
        <i class="fas fa-times-circle text-danger"></i>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}